<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysAttendMapper">

    <resultMap type="SysAttend" id="SysAttendResult">
        <id     property="attendId"       column="attend_id"      />
        <result property="userId"	column="user_id"   />
        <result property="totalDay"       column="total_day"      />
        <result property="attendDay"     column="attend_day"    />
        <result property="leaveDay"     column="leave_day"    />
        <result property="absentDay"        column="absent_day"        />
        <result property="lateDay"     column="late_day"    />
        <result property="status"      column="status"     />
        <result property="delFlag"      column="del_flag"     />

        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="remark"       column="remark"       />

        <association property="user"    column="user_id" javaType="SysUser" resultMap="SysUserResult" />
<!--        这个可能有必要，需要好好研究以下-->
<!--        <collection  property="roles"   javaType="java.util.List"           resultMap="RoleResult" />-->
    </resultMap>

    <resultMap id="SysUserResult" type="SysUser">
        <id     property="userId"       column="user_id"      />
        <result property="studentId"	column="student_id"   />
        <result property="deptId"       column="dept_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="nick_name"    />
        <result property="email"        column="email"        />
        <result property="phonenumber"  column="phonenumber"  />
        <result property="sex"          column="sex"          />
        <result property="avatar"       column="avatar"       />
        <result property="password"     column="password"     />
        <result property="status"       column="status"       />
        <result property="internshipStatus"	column="internship_status"/>
        <result property="delFlag"      column="del_flag"     />
        <result property="loginIp"      column="login_ip"     />
        <result property="loginDate"    column="login_date"   />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="remark"       column="remark"       />
        <result property="tutorId"       column="tutor_id"       />
        <result property="startTime"       column="start_time"       />
        <result property="endTime"       column="end_time"       />
    </resultMap>



    <select id="selectAttendList" parameterType="SysAttend" resultMap="SysAttendResult">
        select a.attend_id, a.user_id, a.total_day, a.attend_day, a.leave_day, a.absent_day, a.late_day, a.del_flag, a.create_by, a.create_time, a.update_by, a.update_time, a.remark, a.status,
        u.user_id, u.student_id, u.dept_id, u.user_name, u.nick_name, u.email, u.avatar, u.phonenumber, u.password, u.sex, u.status, u.internship_status, u.del_flag, u.login_ip, u.login_date, u.create_by, u.create_time, u.remark, u.tutor_id, u.start_time, u.end_time
        from sys_attend a
        left join sys_user u on a.user_id = u.user_id
        where a.del_flag = '0' AND u.internship_status = '1'
<!--        <if test="nickName != null and nickName != ''">-->
<!--            AND u.nick_name like concat('%', #{nickName}, '%')-->
<!--        </if>-->
<!--        <if test="phonenumber != null and phonenumber != ''">-->
<!--            AND u.phonenumber like concat('%', #{phonenumber}, '%')-->
<!--        </if>-->
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>




    <insert id="insertAttend" parameterType="SysAttend" useGeneratedKeys="true" keyProperty="attendId">
        insert into sys_attend(
        <if test="attendId != null and attendId != 0">attend_id,</if>
        <if test="userId != null and userId != 0">user_id,</if>
        <if test="totalDay != null and totalDay != 0">total_day,</if>
        <if test="attendDay != null and attendDay != ''">attend_day,</if>
        <if test="leaveDay != null and leaveDay != ''">leave_day,</if>
        <if test="absentDay != null and absentDay != ''">absent_Day,</if>
        <if test="lateDay != null and lateDay != ''">late_day,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="attendId != null and attendId != ''">#{attendId},</if>
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="totalDay != null and totalDay != ''">#{totalDay},</if>
        <if test="attendDay != null and attendDay != ''">#{attendDay},</if>
        <if test="leaveDay != null and leaveDay != ''">#{leaveDay},</if>
        <if test="absentDay != null and absentDay != ''">#{absentDay},</if>
        <if test="lateDay != null and lateDay != ''">#{lateDay},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <delete id="deleteAttendByUserId" parameterType="Long">
        update sys_attend set del_flag = '2' where user_id = #{userId}
    </delete>



</mapper>